name: Go

on:
  workflow_dispatch:
  push:
    branches: [ main , dev ]
  pull_request:
    branches: [ main , dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      relativePath: ./
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.24'
      - name: Install dependencies
        run: go install
        working-directory: ${{ env.relativePath }}
      - name: Build SDK project
        run: go build
        working-directory: ${{ env.relativePath }}
      - name: Run unit tests
        run: go test ./...
        working-directory: ${{ env.relativePath }}
      - name: Check formatting
        run: go fmt ./...
        working-directory: ${{ env.relativePath }}